{{ include('/header.html.twig') }}

<h1>Välkommen till MVC</h1>

<p>{{ message }}</p>
<p> Denna sidan innehåller spelet Yatzy, det finns även en highscore lista som visar alla personer som valt att spara in sina resultat.</p>

{{ include('/footer.html.twig') }}
